.FAQS {
  margin: 4rem 0;
}
.FAQS h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.FAQS .faq {
  width: 70%;
  margin: 10px auto;
  background: #303030;
  max-width: 768px;
  transition: all 0.2s ease-in-out;
}

.FAQS .accordion__header {
  font-size: 1.8rem;
  border-bottom: 1px solid black;
  padding: 15px 0px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.FAQS .accordion__header::after {
  content: "+";
  position: absolute;
  line-height: 2rem;
  height: 2rem;
  right: 30px;
  font-size: 3.5rem;
  transition: 0.2s ease;
}

.FAQS .accordion__body {
  opacity: 0;
  overflow-y: hidden;
  max-height: 0;
  transition: 0.2s ease-in-outs;
}

.FAQS .faq.open .accordion__header::after {
  transform: rotate(45deg);
}

.FAQS .faq.open .accordion__body {
  max-height: 500px;
  opacity: 1;
  padding: 20px 30px;
  font-size: 1.6rem;
}
