.rows__content {
  margin-top: 10rem;
  border-bottom: 6px solid #313030;
}

.rows__content .row {
  margin: 0;
  padding: 0;
  border-top: 6px solid #313030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem;
}

.rows__content .row .row__desc h1 {
  font-size: 3rem;
  margin-bottom: 13px;
}

.rows__content .row .row__desc p {
  font-size: 1.5rem;
}

.row .row__image {
  height: 320px;
}

.row .row__image img {
  height: 100%;
}
